<!-- A Single Search Result -->
<!-- RESULT -->
<div class="row search-result">
	<div class="col-sm-4 thumbnail-container">
		<img class = "thumbnail" src="logo.png" alt="">		
	</div>
	<div class="col-sm-8">
		<div class="row details-container">
			<a href="/lecture" class="lec-title">
			<div class="md-text title">
				CSC343H1 - 1st March 2018
			</div>
			</a>
			<div class="sm-text author">
				Top video post by Pravir
			</div>
			<div class="sm-text views">
				45 videos
			</div>
			<div class="sm-text likes">
				300+ upvotes
			</div>
		</div>
	</div>
</div>
<!-- END RESULT-->